body {
    min-width: 315px;
}

a {
    text-decoration: none;
}

nav {
    position: fixed;
    right: 0px;
    top: 8px;
    height: 50px;
    width: 160px;
    z-index: 1;
}

nav button {
    /* border: none; */
    height: 50px;
}

nav a {
    color: maroon;
}

nav a:hover {
    text-decoration: none;
    border: none;
    height: 50px;
}

.background-show-modals {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(106, 142, 35, 0.329);
    z-index: 2;
}

.login_modal {
    height: 350px;
    min-width: 300px;
    max-width: 450px;
    position: fixed;
    left: 50%;
    top: 100px;
    transform: translateX(-50%);
    border-radius: 15%;
    z-index: 2;
    background-color: rgb(30, 167, 144);
    text-align: center;
}

.login_modal h3 {
    margin-top: 40px;
    color: mintcream;
}

.login_modal h2 {
    margin-top: 15px;
    color: rgb(20, 27, 24);
}

.login_modal input {
    border-radius: 12px;
    margin-top: 10px;
}

.login_modal button {
    width: 50%;
    background-color: lightcoral;
    margin-left: 0 auto;
    border-radius: 10px;
    margin-top: 7px;
}

.modal-about-book {
    text-align: center;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;
    background-color: rgb(255, 255, 255);
    height: 95vh;
    width: 40vw;
    min-width: 315px;
    border-radius: 7%;
    border: rgb(54, 54, 16) 3px solid;
}

.name-book-modal h3 {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin: 25px 10px;
}

.img-modal img {
    width: 15vw;
    min-width: 150px;
    margin-bottom: 15px;
    border: lightgoldenrodyellow 3px solid;
    border-radius: 7%;
}

.modal-about-book p {
    min-height: 70px;
    margin: 0 10px;
}

.rate-book button:not(:nth-child(4)) {
    background-color: lightgreen;
    height: 35px;
    width: 35px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: none;
}

.rate-book button:nth-child(4) {
    margin-top: 10px;
    background-color: #eedd90;
    width: 80px;
    border-radius: 10px;
    border: none;
}


/* books */

.hide {
    display: none;
}

.books {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.enter-new-price {
    background-color: mediumaquamarine;
    height: 250px;
    width: 40vw;
    min-width: 315px;
    position: fixed;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container-update {
    width: 280px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.container-head-action {
    display: flex;
}

.header {
    margin: 0 12px;
}

.sort-by select {
    margin: auto 10px;
    height: 30px;
}

.add-book button {
    /* border: none; */
    width: 100px;
}


/*  */

.books-list {
    margin: 10px;
}

.img-books {
    height: 350px;
}

.book-title {
    height: 75px;
    overflow: hidden;
    white-space: normal;
}

.book-price {
    height: 20px;
}

.container-btn-books {
    display: flex;
    flex-wrap: wrap;
}

.container-btn-books button:nth-child(1) {
    width: 100%;
}

.container-btn-books button:not(:nth-child(1)) {
    width: 45%;
}

.btn-book {
    margin: 5px;
}

.next-page button {
    border: none;
    height: 40px;
    width: 130px;
    text-decoration: none;
}

.next-page button a {
    color: rgb(207, 113, 113);
}

.next-page button a:hover {
    text-decoration: none;
}

.container-next-page {
    display: flex;
    margin: 10px;
}

.num-page {
    padding: 0 10px;
    height: 40px;
    border: black 1px solid;
    background-color: rgb(238, 232, 225);
}

.num-page h5 {
    font-size: 25px;
    color: brown;
}

footer section:nth-child(1) {
    max-height: 1300px;
    background-color: rgb(134, 143, 125);
    margin-bottom: 10px;
    padding: 15px;
}

footer section:nth-child(2) {
    height: 350px;
    background-color: rgb(142, 119, 206);
    position: relative;
}

.connect-us {
    width: 40vw;
    min-width: 195px;
    max-width: 470px;
    height: 270px;
    margin: 15px;
    border: 3px black solid;
}

.connect-us h5 {
    height: 80px;
    margin: 15px;
}

.container-online-contect img {
    height: 50px;
}

.container-online-contect {
    position: fixed;
    display: flex;
    flex-direction: column-reverse;
    bottom: 60px;
    right: 5px;
    margin-left: 220px;
}

.showBtn img {
    height: 50px;
    background-color: rgba(240, 230, 140, 0.548);
    border-radius: 10%;
    position: fixed;
    right: 5px;
    bottom: 5px;
}

.cofferight h5 {
    text-align: center;
}

.cofferight {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}